body {
    margin: 0; /* body의 기본 마진 제거 */
    padding: 0;
    height: 100vh; /* 뷰포트 전체 높이를 사용 */
    width: 100vw;  /* 뷰포트 전체 너비를 사용 */
    overflow: hidden; /* 스크롤바 방지 */
}

#map {
    /* 지도가 꽉 차게 보이도록 설정 */
    width: 100%; 
    height: 100%; 
}